:root {
  --list-text: rgba(0, 0, 0, 0.88);
  --selected-list-text: rgba(193, 33, 33, 0.88);
}

@font-face {
  font-family: 'Samim';
  src: url('assets/fonts/Samim/Samim-FD.eot') format('eot'),
  url('assets/fonts/Samim/Samim-FD.ttf') format('ttf'),
  url('assets/fonts/Samim/Samim-FD.woff') format('woff'),
  url('assets/fonts/Samim/Samim-FD.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Samim';
  src: url('assets/fonts/Samim/Samim-Bold-FD.eot') format('eot'),
  url('assets/fonts/Samim/Samim-Bold-FD.ttf') format('ttf'),
  url('assets/fonts/Samim/Samim-Bold-FD.woff') format('woff'),
  url('assets/fonts/Samim/Samim-Bold-FD.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-style: italic;
}

.editor-textUnderline {
  text-decoration: underline;
}

.editor-strikeThrough {
  text-decoration: line-through;;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

@keyframes fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(5);
    opacity: 0;
  }
}

html, body, #root, #root > div {
  height: 100vh
}

body {
  margin: 0;
}

.ant-menu-item-selected {
  color: #FAFBFC !important;
}

.ant-menu-submenu-selected {
  background-color: #EDEFF1;
}

.ant-menu-submenu-selected  .ant-menu-submenu-title {
  color: #787486 !important;
}

aside {
  border-left: 1px solid;
  border-color: #DBDBDB;
}

.ant-layout-header {
  background-color: #ffffff !important;
  border-bottom: 1px solid;
  border-color: #DBDBDB;
}

.ant-layout-sider-children {
  background-color: #ffffff !important;
}

.print-text-size {
  /*font-size: 10px;*/
}

.gray-background {
  background-color: #dcdcdc;
  direction: ltr;
  border: none !important;
}

.gray-background td:last-child {
  border-left: 1px solid black;
}

.print-title-size {
  font-size: 12px;
}

.custom-side-table .ant-table-tbody > tr > td {
  font-size: 12px;
}

.A4-portrait {
  width: 794px;
  height: 1150px;
}

.A4-landscape {
  width: 1150px;
  height: 794px;
}

.A4-portrait .ant-divider-vertical {
  height: 1060px;
}

.A5-landscape {
  width: 794px;
  height: 575px;
}

.A5-portrait {
  width: 575px;
  height: 794px;
}

.highlighter * {
  border-color: black !important;
}

.no-border {
  border: none !important;
}

@media print {
  * {
    border-color: black !important;
  }

  .no-border {
    border: none !important;
  }

  .break-after {
    width: 100vw;
    height: 100vh;
    /*page-break-before: always;*/
    /*page-break-after: always;*/
  }

  .A4-portrait .ant-divider-vertical {
    height: 90vh;
  }

  .A4-landscape {
    height: 100vh;
  }

  .A5-landscape {
    width: 100vw;
    height: 100vh;
  }

  .A5-portrait {
    width: 100vw;
    height: 100vh;
  }
}


.qr-title {
  position: relative;
}

.qr-title::before {
  content: "";
  position: absolute;
  top: 40px;
  right: -7px;
  height: 1px;
  width: 109%;
  background-color: #000;
  transform: rotate(-25deg);
}

.qr-title span:first-child {
  position: absolute;
  right: 30px;
  top: 44px;
}

.qr-title span:last-child {
  position: absolute;
  left: 30px;
  top: 16px;
}

.qr-table td {
  padding: 3px;
  font-size: 18px;
}

.md-content  span {
  /*display: inline-block;*/
  line-height: 2;
}

.md-sign {
  width: 100%;
}

.md-sign td {
  padding: 30px 10px;
}

.md-sign-s {
  width: 100px;
}